.form-wrapper {
  margin: 0 auto;
  width: 500px;
  padding: 30px 50px;
  border: 1px solid lightgray;
  border-radius: 15px;
 }

 .form-wrapper label {
  font-size: 1.5rem;
 }

 .form-wrapper textarea{
  height: 7rem;
 }

 .form-wrapper select {
  padding: 1.5rem;
 }

 .form-wrapper input {
  padding: 1.5rem;
 }
