@import url('https://fonts.googleapis.com/css2?family=Kode+Mono:wght@400..700&family=Playfair+Display:ital,wght@0,400..900;1,400..900&display=swap');

.banner {
  background: linear-gradient(rgba(0,0,0,0.4),rgba(0,0,0,0.4)), url('denise-jans-tV80374iytg-unsplash.jpg'), no-repeat center;
  background-size: cover;
  background-position: center;
  padding: 150px 0;
  margin-bottom: 30px;
}

.banner h1 {
  font-family: 'Kode Mono', sans-serif;
  font-size: 5rem;
  color: $title-color;
  font-weight: bold;
  transition: color 2s;
  z-index: 10;
  text-shadow: 1px 1px 2px $text-shadow_h1;
}

h1:hover {
  color: #344955;
}

h5 {
  color: $h5-titles;
  text-align: center;
  padding: 10px;
  font-weight: 700;
  font-size: 2rem;
}
