.movie-container {
  width: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 3rem auto;
}

.movie-wrapper {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.image-container {
  width: 30%;
  margin-right: 3rem;
}

.image-container img {
  width: 250px;
  object-fit: cover;
  border-radius: 1rem;
}

.content-container {
  width: 60%;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: start;
}

.content-container h5 {
  color: #272829;
  font-size: 3rem;
  margin-bottom: 2rem;
}

.content-container p, span {
  font-size: 2rem;
}

.content-container p {
  margin-top: 1rem;
}

.content-container span {
  font-weight: 800;
}
