.list-card {
  margin-bottom: 2rem;
  padding: 1rem;
  border: 2px solid #EEEDEB;
  margin-bottom: 2rem;
}


.list-card h5 {
  font-family: 'Kode Mono', sans-serif;
  color: #EB6440;
  font-size: 3.5rem;
  padding: 1;
}
